@model Bootcamp

<div class="card" style="width: 18rem;"></div>
<img src="~/img/@Model.Image" style="width: 320px;" class="card-img-top" alt="...">
<div class="card-body">
    <h5 class="card-title">@Model.Title</h5>
    <p class="card-text">@Model.Description</p>
    <a href="#" class="btn btn-success">Detay</a>
</div>
</div>




@* 1. Model > Bootcamp.cs içerisinde model oluşturuldu. 2.BootcampController.cs içerisind nesne oluşturuldu ve view e yani buraya gönderildi. Artık buradan en üst satıra @model Bootcamp yazarak Bootcamp.cs içerisinde BootcampController.cs tarafında atadığım özelliklerin hepsi buraya gelecek.  *@